* {box-sizing: border-box;}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #222;
    font-weight: 300;
    padding: 2.5em 1em 5em;
    font-size: 11px;
    text-align: center;
}

a {color: 06c;}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 2em;
}
.nobr {white-space: nowrap;}

main, header {
    max-width: 600px;
    margin: 0 auto;
}

#content {text-align: center;}

p {
    margin-bottom: 1em;
    line-height: 1.2;
}

table {
    margin: 1em auto 2em;
    width: 100%;
}

thead {
    font-weight: 700;
    background-color: lightblue;
}

th, td {
    border: 1px solid #555;
    padding: .25em;
    width: 12.5%;
}

th {cursor: pointer;}

th.down:before {
    content: '\2193';
}

th.up:before {
    content: '\2191';
}

td.highlight {background: lightgoldenrodyellow;}

@media screen and (min-width: 320px) {
    body {
      font-size: calc(12px + 6 * ((100vw - 320px) / 400));
    }
  }
  @media screen and (min-width: 720px) {
    body {
      font-size: 18px;
    }
  }